POSTGRES_DB=cms_erp
POSTGRES_USER=cms_erp
POSTGRES_PASSWORD=local-db-password
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=local-admin-password
KEYCLOAK_APP_ADMIN_PASSWORD=admin
KEYCLOAK_API_CLIENT_SECRET=local-api-client-secret
